/* Home Page Background Image */
body { 
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Jelsa%2C_Croatia_-_panoramio_%288%29.jpg/3264px-Jelsa%2C_Croatia_-_panoramio_%288%29.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Hide Order Details */
.returnDiv, .formDiv {
  display: none;
}

/* Shopping Cart Buttons */
.shoppingCartButtons {
  width: 15%;
}
